<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>This site was created by Lindsey Craig. It uses data from MapBox and WeatherStack to provide a basic forecast.</p>
            <img class='profile' src="/img/profile.jpeg">
        </div>
        {{>footer}}
    </body>
</html>